extends layout 
block content
    section.container.mt-5.my-2()
        .row.py-3.justify-content-center.border.border-success.bg-light.shadow.rounded.mx-3
            input#idUserCurrent(type="hidden" value=`${thisUser._id}` )
            .col-md-4.my-3
                .avatar.w-100.shadow
                    img(src="https://znews-photo.zadn.vn/w660/Uploaded/qhj_yvobvhfwbv/2018_07_18/Nguyen_Huy_Binh1.jpg" alt="hinh" srcset="" width='100%')
            .col-md-8
                form.info#if
                    .row
                        .col
                            label(for="fullname") Fullname:
                            input.form-control#fullname(type="text" placeholder="First name" readonly value=`${thisUser.fullname?thisUser.fullname:''}`)
                        //- .col
                        //-     label(for) Last Name:
                        //-     input.form-control(type="text" placeholder="Last name")
                    .form-group.row.mt-3
                        label.col-sm-4.col-form-label(for="birthDay") Birth day:
                        .col-sm-8
                            - var bd = thisUser.birthDay ? thisUser.birthDay : new Date();
                                input.form-control(id=`birthDay` readonly data-maxdate="today" data-mindate="1/1/1821" type="text" data-theme="green" value=`${thisUser.birthDay}`  )
                    .form-group.row.mt-3
                        label.col-sm-4.col-form-label(for="email") Email :
                        .col-sm-8
                            input.form-control#email(type="text", readonly, value=`${thisUser.email?thisUser.email:''}`)
                    .form-group.row
                        label.col-sm-4.col-form-label(for="sdt") Phone Number :
                        .col-sm-8
                            input.form-control#sdt(type="text" value=`${thisUser.sdt?thisUser.sdt:'+84'}` readonly)
                    .row
                        legend.col-form-label.col-sm-4.pt-0 Gender :
                        .col-sm-8.d-flex
                            if thisUser.gender==='female'
                                .form-check.d-flex
                                    .mr-5
                                        input.form-check-input#female(type="radio" name="gender" value="female" checked disabled)
                                        label.form-check-label(for="female") Female
                                    .ml-5
                                        input.form-check-input#male(type="radio" name="gender" value="male" disabled)
                                        label.form-check-label(for="male") Male
                            else
                                .form-check.d-flex
                                    .mr-5
                                        input.form-check-input#female(type="radio" name="gender" value="female" disabled)
                                        label.form-check-label(for="female") Female
                                    .ml-5
                                        input.form-check-input#male(type="radio" name="gender" value="male" checked disabled)
                                        label.form-check-label(for="male") Male

                    .form-group.row.mt-3
                        label.col-sm-4.col-form-label(for="address") Address :
                        .col-sm-8
                            input.form-control#address(type="text", readonly, value=value=`${thisUser.address?thisUser.address:''}`)
                    .row 
                        .col.d-flex.justify-content-around
                            button.btn.btn-success#edit-us.user-ac(type="button", edit) Edit
                            button.btn.btn-danger#save-us.user-ac(type="button", save, disabled) Save
                            button.btn.btn-danger#cancel-us.user-ac(type="button", cancel, disabled) Cancel
